
.light-bg {
  background: #F9F9F9;
}

.checkbox-container {
  margin-top: 40px;

  .confirmation-section {
    margin-bottom: 20px;
  }

  .checkbox-section {
    display: flex;
    align-items: center;

    .checkbox {

    }

    p {
      color: #42413D;
    }
  }
}

